In [ ]:
from pandas import pd

In [ ]:
%load_ext autoreload

In [ ]:
query = """
SELECT
  *
FROM users
"""

In [ ]:
table_name = "user"

In [ ]:
pd.read_sql(
    """
    SELECT
      user,
      product
    FROM user_table
    WHERE
      user = 'qq'
    """
)

In [ ]:
pd.read_sql(
    f"""
    SELECT
      a,
      b,
      c
    FROM {table_name}
    WHERE
      a = 3
    """
)