In [ ]:
query = """SELECT
  a,
  b,
  c,
  d,
  e
FROM table join table 2 on table.a = table2.f;
"""